<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @broker.name %></h1>
    <p>
      Alguém solicitou a troca de senha para a sua conta.
    </p>
    <p>
      Aqui está o TOKEN: <strong><%= @token %></strong> necessário para efetuar a troca.
    </p>
    <p>
      <em>Este token expira em 24 horas.</em>
    </p>
    <br>
    <strong>Caso você não tenha solicitado isso, por favor ignore este e-mail.</strong>
  </body>
</html>
