<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bem vindo, <%= @broker.name %></h1>
    <p>
      Você se cadastrou com sucesso na Brokers API.
      Para logar, por favor utilize o email cadastrado: <strong><%= @broker.email %></strong> em
      conjunto com a sua <strong>senha</strong>.<br>
    </p>
    <p>Atenciosamente, Brokers API!</p>
  </body>
</html>
